@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    h1, h2 {
        color: #333;
    }
    p{
        justify-content:center ;
    }

    ul {
        list-style-type: disc;
    }

</style>
<h1>@ViewData["Title"]</h1>

<h2>Introduction</h2>
<p>At Our Company, we respect your personal information and, in accordance with best practices and applicable law, have implemented policies to ensure your data is securely maintained and used responsibly. This Privacy Policy outlines what data we collect, why we collect it, and how we manage it to protect your privacy.</p>

<h2>What Information We Collect</h2>
<p>We collect various types of information, including:</p>
<ul>
    <li>Personal identification information (Name, email address, phone number, etc.)</li>
    <li>Web usage data (IP address, browser type, pages visited, etc.)</li>
    <li>Any other information you voluntarily provide</li>
</ul>

<h2>How We Use Your Information</h2>
<p>We use the information we collect to:</p>
<ul>
    <li>Provide, maintain, and improve our services</li>
    <li>Respond to comments and questions</li>
    <li>Send updates, security alerts, and support messages</li>
    <li>Conduct market research and analysis</li>
</ul>

<h2>How We Share Your Information</h2>
<p>We do not share your personal information with third parties without your consent, except in the following circumstances:</p>
<ul>
    <li>For legal reasons, if we believe disclosure is in accordance with, or required by, any applicable law or legal process, including lawful requests by public authorities.</li>
    <li>To enforce our policies and agreements, to protect our and others' rights and safety, or in the event of a claim or dispute relating to your use of our services.</li>
</ul>

<h2>How We Protect Your Information</h2>
<p>We implement a variety of security measures to maintain the safety of your personal information. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential.</p>

<h2>Your Rights</h2>
<p>You have the right to access, correct, or delete your personal information. You can do most of this through your account settings.</p>

<h2>Changes to This Policy</h2>
<p>We may update this Privacy Policy from time to time. If we make significant changes, we will notify you of the changes through our website or through others means, such as email. To the extent permitted under applicable law, by using our services after such notice, you consent to our updates to this Policy.</p>

<p>We encourage you to periodically review this Policy for the latest information on our privacy practices. We will also make prior versions of our privacy policies available for review.</p>

