@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="">
            <div class="card-body p-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                        <form class="mx-1 mx-md-4" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.Email">Email</label>
                                    <input asp-for="Input.Email" class="form-control border" autocomplete="username" aria-required="true" placeholder="Name@example.com" />
                                    
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.FullName">Full Name</label>
                                    <input asp-for="Input.FullName" class="form-control border" autocomplete="fullname" aria-required="true" placeholder="Name" />
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.Password">Password</label>
                                    <input asp-for="Input.Password" class="form-control border" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control border" autocomplete="new-password" aria-required="true" placeholder="Repeat Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-building-columns fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.Campus">Campus</label>
                                    <input asp-for="Input.Campus" class="form-control border" autocomplete="homeadress" aria-required="true" placeholder="Campus" />
                                    <span asp-validation-for="Input.Campus" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-phone fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.PhoneNumber">Phone</label>
                                    <input asp-for="Input.PhoneNumber" class="form-control border" autocomplete="phone" aria-required="true" placeholder="Phone" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-person fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    @Html.DropDownListFor(n => n.Input.Role, Model.Input.SelectYourRole,
                                             "Please select the role", new { @class = "form-control border" })
                                    <span id="role-validation" class="text-danger">@Html.ValidationMessageFor(m => m.Input.Role)</span>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-university fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.SelectedFacultyId">Faculty</label>
                                    <select asp-for="Input.SelectedFacultyId" asp-items="Model.Input.Faculties" class="form-control border">
                                        <option value="">Please select faculty</option>
                                    </select>
                                    <span asp-validation-for="Input.SelectedFacultyId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                <label class="form-check-label" for="form2Example3">
                                    I agree all statements in <a asp-area="User" asp-controller="Home" asp-action="Privacy">Terms of service</a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                            </div>

                        </form>

                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                        <img src="https://www.dissertationhelp.com.sg/img/assignment-writing.png"
                             class="img-fluid" alt="Sample image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}