@page
@model RegisterModel
<style>

    .form-floating {
        position: relative;
    }

        .form-floating input,
        .form-floating select {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ced4da;
            width: 100%;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

            .form-floating input:focus,
            .form-floating select:focus {
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
            }

        .form-floating label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            transition: transform .3s ease-out, opacity .3s ease-out, top .3s ease-out;
            opacity: 0.65;
        }

        .form-floating input:focus ~ label,
        .form-floating input:not(:placeholder-shown) ~ label,
        .form-floating select:focus ~ label,
        .form-floating select:not(:placeholder-shown) ~ label {
            transform: translateY(-25px) scale(0.85);
            opacity: 1;
        }

        .form-floating .text-danger {
            display: block;
            margin-top: 5px;
            font-size: 0.875em;
        }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .btn-primary:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }
</style>
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="">
            <div class="card-body p-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

                        <form class="mx-1 mx-md-4" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.Email">Email</label>
                                    <input asp-for="Input.Email" class="form-control border" autocomplete="username" aria-required="true" placeholder="Name@example.com" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.FullName">Full Name</label>
                                    <input asp-for="Input.FullName" class="form-control border" autocomplete="fullname" aria-required="true" placeholder="Name" />
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.Password">Password</label>
                                    <input asp-for="Input.Password" class="form-control border" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control border" autocomplete="new-password" aria-required="true" placeholder="Repeat Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-building-columns fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.Campus">Campus</label>
                                    <input asp-for="Input.Campus" class="form-control border" autocomplete="homeadress" aria-required="true" placeholder="Campus" />
                                    <span asp-validation-for="Input.Campus" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-phone fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.PhoneNumber">Phone</label>
                                    <input asp-for="Input.PhoneNumber" class="form-control border" autocomplete="phone" aria-required="true" placeholder="Phone" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-person fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    @Html.DropDownListFor(n => n.Input.Role, Model.Input.SelectYourRole,
                                             "Please select the role", new { @class = "form-control border" })
                                    <span id="role-validation" class="text-danger">@Html.ValidationMessageFor(m => m.Input.Role)</span>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa-solid fa-university fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Input.SelectedFacultyId">Faculty</label>
                                    <select asp-for="Input.SelectedFacultyId" asp-items="Model.Input.Faculties" class="form-control border">
                                        <option value="">Please select faculty</option>
                                    </select>
                                    <span asp-validation-for="Input.SelectedFacultyId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                <label class="form-check-label" for="form2Example3">
                                    I agree all statements in <a asp-area="User" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                            </div>

                        </form>

                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 ">

                        <img class="border-2 bg-white" style="border-radius: 40px" src="https://cdn.dribbble.com/users/2272835/screenshots/9602204/online_register.gif"
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}