@model List<Comment>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Your Feedback</h2>
            <div class="d-flex justify-content-center mb-4">
                <a asp-area="Student" asp-action="MyArticles" type="button" class="btn btn-primary" style="border-radius:15px">Back to my Article</a>
            </div>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="card mb-4" style="border-radius: 15px; background-color: #93e2bb;">
                        <div class="card-body">
                            <h6 class="card-title">Feedback:</h6>
                            <p class="card-text">@item.Text</p>
                            <p class="card-text">Time: @item.CommentOn.ToString("HH:mm / dd-MM-yyyy")</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    There are no feedback for this Article.
                </div>
            }
        </div>
    </div>
</div>
