@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <h2 class="mb-4">Manage Account</h2>
            <div class="list-group">
                <partial name="_ManageNav" />
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
