@model List<Faculty>
<div class=row-pt-2 pb-4>
    <div class="col-6">
        <h2 style="color:red">List of Faculty</h2>
    </div>
    <div class="col-6">
        <a asp-controller="Manager" asp-action="Create" class="btn btn-primary">Create a new Faculity</a>
    </div>
    <div>
        <table class="table table-bordered">
            <thread>
                <tr>

                    <td>Name</td>
                    <td>Description</td>
                    <td>Action</td>
                </tr>
            </thread>
            <tbody>
                @foreach (var faculty in Model)
                {
                    <tr>
                        <td>@faculty.Name</td>
                        <td>@faculty.Description</td>
                        <td>

                            <a asp-controller="Manager" asp-action="Edit" asp-route-id="@faculty.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Manager" asp-action="Delete" asp-route-id="@faculty.Id" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}