@RenderSection("scripts", required: false)
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Management</title>
    <link rel="stylesheet" href="../../LayoutManager/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../LayoutManager/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../LayoutManager/assets/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_1640.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="~/css/mdb.min.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../LayoutManager/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                    <a class="navbar-brand" asp-area="Student" asp-controller="Home" asp-action="Home">
                        <img src="~/images/Home/2022-Greenwich-Eng.png" style="width:120px;height:50px;">
                    </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="nav justify-content-center">
                            @if (User.IsInRole("Manager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Student" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Manager" asp-controller="Manager" asp-action="Dashboard1"><b>Dashboard</b></a>
                                </li>

                            }
                        </ul>

                        <ul class="nav justify-content-center">
                            @if (User.IsInRole("Manager"))
                            {
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b style="color:coral">Hello</b>, @UserManager.GetUserName(User).</a>
                            }
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">| <b style="color:darkred">Logout</b></button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="https://cdn2.iconfinder.com/data/icons/office-and-business-special-set-1/260/21-512.png" alt="profile">
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">MANAGER</span>
                                <span class="text-secondary text-small">Manager</span>
                            </div>

                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">Dashboard</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Manager" asp-controller="Manager" asp-action="Dashboard1">Dashboard for user</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Manager" asp-controller="Manager" asp-action="Dashboard3">Dashboard for contribution</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <span class="menu-title">Management</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Manager" asp-controller="Manager" asp-action="Index">List of Faculty</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Manager" asp-controller="Manager" asp-action="List">Contribution List</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <partial name="_Notification" />
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="myfooter">
                    <div class="container ">
                        <div class="row">
                            <div class="left-col col-3">
                            </div>
                            <div class="left-right col-9">
                                <h3 style="font-size:20px">&copy; Copyright belongs to Mixi Huyen - Thanh - Khanh - Minh - Khai</h3>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <script src="../../LayoutManager/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../LayoutManager/assets/js/off-canvas.js"></script>
    <script src="../../LayoutManager/assets/js/hoverable-collapse.js"></script>
    <script src="../../LayoutManager/assets/js/misc.js"></script>
</body>
</html>