@model List<Comment>
@{
    ViewBag.Title = "Show FeedBack";
}

<div class="container py-5">
    <h2 class="mb-4">Show Feedback</h2>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">@item.Text</p>
                    <p class="card-subtitle text-muted">@item.CommentOn.ToString("HH:mm tt dd-MM-yyyy")</p>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info" role="alert">
            There are no feedback for this article yet.
        </div>
    }
    <hr />
    <h2 class="mb-4">Please input your feedback</h2>
    <form method="post">
        <div class="form-group">
            <input type="hidden" name="id" value="@ViewBag.ArticleId" />
            <textarea class="form-control" name="articleFB" rows="4" placeholder="Your feedback..."></textarea>
        </div>
        <div class="form-group">
            <a asp-controller="Coordinator" asp-action="Requests" class="btn btn-outline-dark">Back to list</a>
            <input type="submit" class="btn btn-success float-right" name="Add FeedBack" value="Add FeedBack" />
        </div>
    </form>
</div>
