@model SemesterVM
<h1 hidden> @(Model.Semester)   </h1>
    <h2>Create a Semester</h2>
<form method="post">
    <div class="border pt-3 mt-4">
        <input asp-for="Semester.Id" hidden/>
        <div class="mb-3 row">
            <label asp-for="Semester.Name"></label>
            <input asp-for="Semester.Name" />
            <span asp-validation-for="Semester.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Semester.StartDate"></label>
            <input asp-for="Semester.StartDate" />
             <span asp-validation-for="Semester.StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Semester.EndDate"></label>
            <input asp-for="Semester.EndDate" />
             <span asp-validation-for="Semester.EndDate" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Semester.FacultyId"></label>
            <select asp-for="Semester.FacultyId" asp-items="@Model.Faculties"></select>
             <span asp-validation-for="Semester.FacultyId" class="text-danger"></span>
        </div> 
        <div class="mb-3 row">
            <label asp-for="Semester.Status"></label>
            <input asp-for="Semester.Status" />
             <span asp-validation-for="Semester.Status" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Coordinator" asp-action="Index" class="btn btn-primary" >Back to list</a>
    </div>
    </form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


