@model Semester
<h1>Delete a Semester</h1>
<form method="post">
    <div class="border pt-3 mt-4">
        <div class="mb-3 row">
            <label asp-for="Name"></label>
            <input  asp-for="Name" disabled/>
        </div>
        <div class="mb-3 row">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" disabled />
        </div>
        <div class="mb-3 row">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" disabled />
        </div>
       @*  <div class="mb-3 row">
            <label asp-for="FaculityId"></label>
            <input asp-for="FaculityId" disabled />
        </div> *@
        <div class="mb-3 row">
            <label asp-for="Status"></label>
            <input asp-for="Status" disabled />
        </div>
        <button type="submit" class="btn btn-danger"> Delete</button>
        <a asp-controller="Coordinator" asp-action="Index" class="btn btn-primary">Back to list</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}