@model SemesterVM

<h2 style="text-align:center">Edit a Semester</h2>

<style>
    #edit {
        max-width: 600px;
        margin: auto;
        padding: 15px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }

</style>

<form method="post" id="edit">
    <div class="form-group">
        <input asp-for="Semester.Id" hidden />
        <input asp-for="FacultyId" hidden />
        <div class="form-group">
            <label asp-for="Semester.Name"></label>
            <input asp-for="Semester.Name" class="form-control" />
            <span asp-validation-for="Semester.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Semester.StartDate"></label>
            <input asp-for="Semester.StartDate" class="form-control" />
            <span asp-validation-for="Semester.StartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Semester.EndDate"></label>
            <input asp-for="Semester.EndDate" class="form-control" />
            <span asp-validation-for="Semester.EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Faculty Name" class="form-label">Faculty</label>
            <input asp-for="@Model.FacultyName" class="form-control" disabled />
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Edit</button>
            <a asp-controller="Coordinator" asp-action="Index" class="btn btn-secondary ml-2">Back to list</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
