@model SemesterVM

<h2>Edit a Semester</h2>

<form method="post">
    <div class="form-group">
        <input asp-for="Semester.Id" hidden />
        <input asp-for="FacultyId" hidden />
        <div class="form-group">
            <label asp-for="Semester.Name"></label>
            <input asp-for="Semester.Name" class="form-control" />
            <span asp-validation-for="Semester.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Semester.StartDate"></label>
            <input asp-for="Semester.StartDate" class="form-control" />
            <span asp-validation-for="Semester.StartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Semester.EndDate"></label>
            <input asp-for="Semester.EndDate" class="form-control" />
            <span asp-validation-for="Semester.EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Faculty Name" class="form-label">Faculty</label>
            <input asp-for="@Model.FacultyName" class="form-control" disabled />
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Edit</button>
            <a asp-controller="Coordinator" asp-action="Index" class="btn btn-secondary ml-2">Back to list</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
